.catalog-wrap {
	max-width: 1200px;
	width: 100%;
	height: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal !important;
	-webkit-box-direction: normal !important;
	-ms-flex-direction: row !important;
	flex-direction: row !important;
}

.calog-title {
	max-width: 380px;
	width: 100%;
	height: 300px;
	margin-top: 160px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.calog-title>h1 {
	font-family: 'RFDewiExpanded', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 3.2em !important;
	line-height: 75px !important;
	text-transform: uppercase;
}

.calog-title>span {
	font-family: 'RFDewiExpanded', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 155%;
	color: #2E344B;
	max-width: 320px;
	width: 100%;
	height: auto;
}

.catalog-nav-menu-list>ul>li {
	cursor: pointer;
}

.container-search-wrap {
	max-width: 1200px;
	width: 100%;
	height: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	margin: 0 auto;
	margin-top: 85px;
}


.application-search {
	position: relative;
	max-width: 1200px;
	width: 100%;
	height: 70px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin: 60px auto;
	padding: 0 10px;
	background: transparent;
	-ms-flex-line-pack: center;
	align-content: center;
	border: 1px solid #1D5DB5;
}

.application-search>input {
	width: 20%;
	min-height: 70px;
	position: relative;
	outline: none;
	border: none;
	background: transparent;
}

.application-search:after {
	content: '';
	top: 40%;
	left: 36%;
	position: absolute;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 20px;
	height: 20px;
	background: url(../assets/img/main2.3.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.application-search>input::-webkit-input-placeholder {
	position: absolute;
	top: 40%;

}

.application-search>input::-moz-placeholder {
	position: absolute;
	top: 40%;

}

.application-search>input:-ms-input-placeholder {
	position: absolute;
	top: 40%;

}

.application-search>input::-ms-input-placeholder {
	position: absolute;
	top: 40%;

}

.application-search>input::placeholder {
	position: absolute;
	top: 40%;

}

.application-search>input::focus {
	border: none;
}

.application-search.catalog-price {
	margin: 0 auto;
}

.add-product {
	position: relative;
	max-width: 300px;
	width: 100%;
	height: auto;
	background: #1D5DB5;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	cursor: pointer;
}

.add-product:hover {
	-webkit-transition: 0.4s;
	transition: 0.4s;
	background: #236cd3;
}

.add-product>button {
	font-family: 'RFDewiExpanded', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
	letter-spacing: 0.02em;
	color: #FFFFFF;
	cursor: pointer;
	border: none;
	background: transparent;
}

.add-product>button::before {
	content: '';
	display: block;
	width: 18px;
	height: 18px;
	position: absolute;
	top: 40%;
	left: 10%;
	background: url(../assets/img_catalog/catalog_cross.svg);
}

.goods-section {
	max-width: 1200px;
	width: 100%;
	height: auto;
	margin: 58px auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;

}

.country-section {
	max-width: 237px;
	width: 100%;
	height: 75px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border-bottom: 1px solid #B3B3B3;
	border-top: 1px solid #B3B3B3;
	cursor: pointer;
}

.country-section>span {
	font-family: 'RFDewiExpanded', sans-serif;
	font-style: italic;
	font-weight: 500;
	font-size: 16px;
	line-height: 40px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
	color: #B3B3B3;
}

.latest-product {
	max-width: 300px;
	width: 100%;
	height: 75px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
}

.latest-product>span {
	font-family: 'RFDewiExpanded', sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 28px;
	line-height: 45px;
	text-align: center;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: linear-gradient(269.96deg, #1A3286 0.05%, #1E83E0 47.93%, #1A3286 99.97%);
	background: -o-linear-gradient(180.04deg, #1A3286 0.05%, #1E83E0 47.93%, #1A3286 99.97%);
	background: linear-gradient(269.96deg, #1A3286 0.05%, #1E83E0 47.93%, #1A3286 99.97%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;

}

.sort-by-product {
	max-width: 237px;
	width: 100%;
	height: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	border-bottom: 1px solid #B3B3B3;
	border-top: 1px solid #B3B3B3;
	cursor: pointer;
}

.sort-by-product>span {
	font-family: 'RFDewiExpanded', sans-serif;
	font-style: italic;
	font-weight: 500;
	font-size: 16px;
	line-height: 70px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
	color: #B3B3B3;
}



.catalog-memu-container {
	max-width: 1200px;
	width: 100%;
	height: auto;
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.catalog-memu-wrap {
	max-width: 1200px;
	width: 100%;
	height: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.catalog-menu {
	max-width: 31%;
	width: 100%;
	height: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

}

.catalog-nav-menu {
	max-width: 100%;
	width: 100%;
	height: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

}

.catalog-nav-menu-list {
	max-width: 100%;
	width: 100%;
	height: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
}

.catalog-nav-menu-list>ul {
	max-width: 100%;
	width: 100%;
	height: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.catalog-nav-menu-list>ul>li {
	max-width: 100%;
	width: 100%;
	height: auto;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	line-height: 80px;
	border: 1px solid #E4E4E4;
}

.catalog-nav-menu-list>ul>li>span {
	width: 100%;
	font-family: 'RFDewiExpanded', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 80px;
	color: #2E344B;
	padding-left: 40px;
}

@media (max-width:1280px) {
	.catalog-nav-menu-list>ul>li>span {
		font-size: 12px;
	}
}

.catalog-nav-menu-list>ul>li:after {
	content: '31';
	display: block;
	position: absolute;
	right: 20px;
	font-family: 'RFDewiExpanded', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	opacity: 0.23;
	cursor: pointer;
	z-index: 2;
}

.bg-show {
	background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(29, 97, 181, 0.7)), to(rgba(29, 97, 181, 0.7))), url(../assets/img_catalog/catalog-nav-menu-listbg.png);
	background-image: -o-linear-gradient(bottom, rgba(29, 97, 181, 0.7), rgba(29, 97, 181, 0.7)), url(../assets/img_catalog/catalog-nav-menu-listbg.png);
	background-image: linear-gradient(to top, rgba(29, 97, 181, 0.7), rgba(29, 97, 181, 0.7)), url(../assets/img_catalog/catalog-nav-menu-listbg.png);
	width: 100%;
	height: 100%;
	color: #FFFF !important;
	z-index: 4;
}

.bg-show:before {
	content: '';
	display: block;
	position: absolute;
	left: 10%;
	top: 16.5%;
	width: 1px;
	z-index: 99999;
	height: 20px;
	border: 10px solid transparent;
	border-top: 23px solid #1C4986;
}

.catalog-submenu-show {
	display: flex;
}

.catalog-nav-menu-submenu {
	max-width: 100%;
	width: 100%;
	height: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: none;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: flex-start;
	-ms-flex-align: flex-start;
	align-items: flex-start;
	border: 2px solid #1A3286;
	border-top: none;
	border-right: none;
	border-bottom: none;
}

.catalog-nav-menu-submenu>li {
	width: 100%;
	position: relative;
}

.catalog-nav-menu-submenu>li>a {
	font-family: 'RFDewiExpanded', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 135%;
	color: #2E344B;
	padding-left: 40px;
}

.catalog-nav-menu-submenu>li:after {
	content: '31';
	display: block;
	position: absolute;
	right: 20px;
	top: 0px;
	font-family: 'RFDewiExpanded', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	opacity: 0.23;
	cursor: pointer;
	z-index: 2;
}

.catalog-menu-product-wrap {
	max-width: 100%;
	width: 100%;
	height: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;

}

.catalog-menu-product {
	max-width: 98%;
	width: 100%;
	height: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.product-card {
	max-width: 100%;
	width: 100%;
	height: 165px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	border: 1px solid #E4E4E4;
}

.card-burger {
	max-width: 300px;
	width: 100%;
	height: 40px;
	display: none;
	margin: 10px auto;
	cursor: pointer;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.card-burger>span {
	margin: 1px auto;
	line-height: 35px;
	background: rgb(29 93 181 / 70%);
	width: 50%;
	height: 3px;
}

.catalog-menu.show {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 15px auto;
}


.product-card.premium {
	border: 3px solid #EB5829;
}

.product-card-logo {
	max-width: 80px;
	width: 100%;
	height: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-left: 15px;
	margin-right: 10px;
	position: relative;
}

.product_premium {
	margin-top: 6px;
}

.product_premium div {
	position: absolute;
	width: 65px;
	height: 14px;
	background: #EB5829;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 8px;
	line-height: 14px;
	color: #FFFFFF;
	-webkit-clip-path: polygon(0 0, 100% 0, 80% 50%, 100% 99%, 0 100%, 0% 50%);
	clip-path: polygon(0 0, 100% 0, 87% 50%, 100% 99%, 0 100%, 0% 50%);
	z-index: 3;
	display: flex;
	flex-direction: row;
}

.product_premium div span {
	padding-left: 5px;
	position: relative;
	z-index: 3;
}

.product_premium::after {
	position: absolute;
	content: '';
	display: block;
	background-color: #D95227;
	height: 14px;
	width: 20px;
	z-index: 1;
	transform-origin: 0 100%;
	transform: rotate(45deg);
}

.product_more {
	margin-top: 50px;
}

.product_more div {
	position: absolute;
	width: 85px;
	height: 14px;
	background: #1D5DB5;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 8px;
	line-height: 14px;
	color: #FFFFFF;
	-webkit-clip-path: polygon(0 0, 100% 0, 80% 50%, 100% 99%, 0 100%, 0% 50%);
	clip-path: polygon(0 0, 100% 0, 87% 50%, 100% 99%, 0 100%, 0% 50%);
	z-index: 3;
	display: flex;
	flex-direction: row;
}

.product_more div span {
	padding-left: 5px;
	position: relative;
	z-index: 3;
}

.product_more::after {
	position: absolute;
	content: '';
	display: block;
	background-color: #1D5DB5;
	height: 14px;
	width: 20px;
	z-index: 1;
	transform-origin: 0 0;
	transform: rotate(-45deg);
}

.product-card-logo>img {
	display: block;
	width: 100%;
	position: relative;
	z-index: 2;
	margin-left: 7px;
}

.product-card-description {
	width: 65%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: auto;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	margin: 0 0 0 30px;
}

.product-card-description>p {
	width: 70%;
	font-family: 'RFDewiExpanded', sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	color: #000000;
}

.product-card-description>span {
	font-family: 'RFDewiExpanded', sans-serif;
	font-style: italic;
	font-weight: 400;
	font-size: 10.8881px;
	line-height: 40px;
	color: #2E344B;
}

.card-deskription-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;

}

.card-deskription-item>span {
	font-family: 'RFDewiExpanded', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 10px;
	line-height: 15px;
	color: #2E344B;
}

.card-deskription-item>span:nth-child(2) {
	position: relative;
}

.card-deskription-item>span:nth-child(2):after {
	content: '';
	display: block;
	width: 10px;
	height: 10px;
	position: absolute;
	top: 0;
	left: -15px;
	background: url(../assets/img_catalog/card-order-book.svg);
}

.manufacturer-name-wrap {
	width: 50%;
	height: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.manufacturer-title {
	width: 80%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.manufacturer-title>span {
	font-family: 'RFDewiExpanded', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	color: #2E344B;
}

.manufacturer-description {
	width: 80%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.manufacturer-description>span {
	position: relative;
	left: 10%;
	font-family: 'RFDewiExpanded', sans-serif;
	font-weight: 500;
	font-size: 10px;
	line-height: 25px;
	color: #333333;

}

.manufacturer-description>span:nth-child(1):before {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: -8%;
	width: 4px;
	height: 4px;
	background: #2ACA27;
	border-radius: 50%;

}

.manufacturer-description>span:nth-child(2):before {
	content: '';
	display: block;
	position: absolute;
	top: 34%;
	left: -8.5%;
	width: 10px;
	height: 10px;
	background: url(../assets/img_catalog/manufacturer-adress.svg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.manufacturer-description>span:nth-child(3):before {
	content: '';
	display: block;
	position: absolute;
	top: 38%;
	left: -6.5%;
	width: 8px;
	height: 8px;
	background: url(../assets/img_catalog/manufacturer-phone.svg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.manufacturer-description>span>a:nth-child(1) {
	color: #333333;
}

.product-card-btn {
	width: 65%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0 5px 0 0;
}

.favorites-btn-wrap {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: auto;
	margin: 2px 0;
	justify-content: space-between;
}

.favorites-btn-wrap>button {
	width: 49%;

}

.favorites-btn-wrap>button:nth-child(1) {
	border: none;
	line-height: 30px;
	border: 0.680508px solid #EB5829;
	background: transparent;
	font-family: 'RFDewiExpanded', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 10px;
	line-height: 35px;
	text-transform: uppercase;
	color: #EB5829;
}

.favorites-btn-wrap>button:nth-child(1):hover {
	background: rgb(231, 231, 231);
	transition: 0.4s;
}

.favorites-btn-wrap>button:nth-child(2) {
	border: 0.680508px solid #EB5829;
	background: #EB5829;
	font-family: 'RFDewiExpanded', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 10px;
	line-height: 35px;
	text-transform: uppercase;
	color: #FFF;
}

.favorites-btn-wrap>button:nth-child(2):hover {
	background: #ff6735;
	transition: 0.4s;
}

.card-request-call {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: #1D5DB5;
}

.card-request-call>button {
	position: relative;
	width: 100%;
	min-height: 32px;
	border: none;
	background: transparent;
	font-family: 'RFDewiExpanded', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 10px;
	text-transform: uppercase;
	color: #FFFFFF;
}

.card-request-call>button:after {
	content: '';
	display: block;
	position: absolute;
	top: 40%;
	left: 17%;
	width: 8px;
	height: 8px;
	background: url(../assets/img_catalog/card-request-call.svg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.card-request-call>button:hover {
	transition: 0.4s;
	background: #276dcf;
}

.container-ad-wrap {
	width: 100%;
	min-height: 125px;
	height: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	background: silver;
	margin: 50px 10px 10px;
	letter-spacing: 1.61em;
	margin: 30px auto;
}

.manufacturer-show-more {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
	height: auto;
	margin-top: 80px;
}

.manufacturer-show-more>span {
	height: 70px;
	max-width: 237px;
	width: 100%;
	border-top: 1px solid #B3B3B3;
	border-bottom: 1px solid #B3B3B3;
	color: #B3B3B3;
	background: transparent;
	font-family: 'RFDewiExpanded';
	line-height: 55px;
	font-style: italic;
	font-weight: 500;
	font-size: 16px;
	cursor: pointer;
	padding: 6px 0 0 0;
}

.information-need {
	max-width: 1200px;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	margin: 90px auto;

}

.information-title {
	width: 90%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0 auto;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.information-title>span {
	font-family: 'RFDewiExpanded', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	line-height: 35px;
	text-align: center;
	letter-spacing: 0.12em;
	text-transform: uppercase;
	background: -o-linear-gradient(180.04deg, #1A3286 0.05%, #1E83E0 47.93%, #1A3286 99.97%);
	background: linear-gradient(269.96deg, #1A3286 0.05%, #1E83E0 47.93%, #1A3286 99.97%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.supporting-information {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-top: 50px;
}

.suppoty-category {
	width: 33.3%;
	height: 190px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: left;
	background: #FFFFFF;
	border: 1px solid #E4E4E4;
}

.suppoty-category.center {
	position: relative;
	z-index: 4;
	color: #fff;
	background-image: url(../assets/img_catalog/suppoty-category-imgbg.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.suppoty-category.center:after {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgb(29 93 181 / 70%);
}

.suppoty-category>span {
	width: 80%;
	height: 100px;
	margin: 17px auto;
	z-index: 10;
	font-family: 'RFDewiExpanded', sans-serif;
	font-style: normal;
	font-weight: 400;

}

.information-cities {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 100%;
	height: auto;
	background: #FFFFFF;
	border: 1px solid #E4E4E4;
}

.other-regions {
	width: 33.3%;
	height: 290px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: left;
}

.other-regions-list {
	width: 80%;
	height: 290px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	margin-top: 10px;

}

.other-regions-list>span {
	font-family: 'RFDewiExpanded', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	color: #2E344B;
	opacity: 0.8;
}

.other-regions-list>ul {
	width: 80%;
	height: 185px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: distribute;
	justify-content: space-around;

}

.other-regions-list>ul>li {
	font-family: 'RFDewiExpanded', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 15px;
	color: #2E344B;
}

.other-cities {
	width: 33.3%;
	height: 290px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: left;
}

.other-cities-list {
	width: 80%;
	height: 290px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	margin-top: 10px;

}

.other-cities-list>span {
	font-family: 'RFDewiExpanded', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	color: #2E344B;
	line-height: 24px;
	opacity: 0.8;
}

.other-cities-list>ul {
	width: 80%;
	height: 200px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

.other-cities-list>ul>li {
	font-family: 'RFDewiExpanded', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 15px;
	color: #2E344B;
}

.related-sections {
	width: 33.3%;
	height: 290px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: left;
}

.other-related-list {
	width: 80%;
	height: 290px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	margin-top: 10px;

}

.other-related-list>span {
	font-family: 'RFDewiExpanded', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	color: #2E344B;
	line-height: 24px;
	opacity: 0.8;
}

.other-related-list>ul {
	width: 80%;
	height: 200px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

.other-related-list>ul>li {
	font-family: 'RFDewiExpanded', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 15px;
	color: #2E344B;
}





@media (max-width:1200px) {

	.container-search-wrap {
		padding: 0 10px;
	}

	.goods-section {
		padding: 0 10px;
	}

	.catalog-menu {
		padding-left: 10px;
	}

	.catalog-nav-menu-list>ul>li>a {
		font-size: 14px;
	}

	.manufacturer-title>span {
		font-size: 12px;
	}

}

@media (max-width:1050px) {
	.application-search>input {
		width: 50%
	}

	.application-search:after {
		left: 21%;
	}

	.catalog-nav-menu-list>ul>li>span {
		padding-left: 9px;
		font-size: 11px;
	}

	.card-deskription-item {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
	}

	.card-deskription-item>span:nth-child(2):after {
		top: 3px;
		left: 28px;
	}

	.product-card-btn {
		width: 65%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.catalog-nav-menu-list>ul>li>a {
		width: 85%;
	}

	.catalog-wrap {
		padding: 0 !important;
	}

	.calog-title {
		padding: 0 !important;
	}

	#caralog-logo>img {
		display: none !important;
	}

	.catalog-wrap {
		-webkit-box-orient: vertical !important;
		-webkit-box-direction: reverse !important;
		-ms-flex-direction: column-reverse !important;
		flex-direction: column-reverse !important;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.catalog-logo-1 {
		display: none !important;
	}
}


@media (max-width:885px) {
	.sort-by-product {
		margin: 0 5px;
	}

	.country-section {
		margin: 0 5px;
	}

	.catalog-nav-menu-list>ul>li>span {
		padding-left: 15px;
		font-size: 13px;
	}

}

@media (max-width:850px) {
	#introduction .container div:nth-child(1) div:nth-child(2) .img {
		display: none;
	}

	.catalog-menu-product-wrap {
		align-items: center;
	}

	.catalog-wrap {
		height: 300px;
		height: 229px;
		margin: 50px auto;
	}

	.calog-title>span {
		margin: 20px auto;
	}

	.goods-section {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.latest-product {
		height: auto;
	}

	.suppoty-category {
		height: 279px;
	}

	.catalog-nav-menu-list>ul>li>a {
		font-size: 13px;
		padding-left: 20px;
	}

	.product-card-description>p {
		line-height: 13px;
		font-size: 7px;
	}

	.manufacturer-title>span {
		font-size: 10px;
	}

	.product-card-description {
		width: 40%;
		margin: 0;
		text-align: center;
		align-items: center;
	}

	.catalog-memu-wrap {
		width: 100%;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.catalog-menu {
		display: none;
		max-width: 100%;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.card-burger {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}

	#introduction .container div:nth-child(1) div:nth-child(1) {
		padding: 0 !;
		flex-wrap: nowrap !important;
	}

	.application-search>input {
		width: 60%;
	}

	.application-search:after {
		left: 15%;
	}

}

@media (max-width:650px) {
	.container-search-wrap {
		padding: 0 10px;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.add-product {
		margin-top: 20px;
	}

	.container-search-wrap::before {
		top: 20%;
	}

	.card-request-call>button:after {
		left: 10%;
	}

	.favorites-btn-wrap {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.favorites-btn-wrap>button:nth-child(1) {
		width: 100%;
		margin: 2px auto;
	}

	.favorites-btn-wrap>button:nth-child(2) {
		width: 100%;
		margin: 2px auto;
	}

	.suppoty-category>span {
		font-size: 12px;
	}

	.information-title>span {
		font-size: 18px;
	}

}

@media (max-width:550px) {
	.favorites-btn-wrap>button:nth-child(1) {
		font-size: 8px;
	}

	.favorites-btn-wrap>button:nth-child(2) {
		font-size: 8px;
	}

	.card-request-call>button {
		font-size: 8px;
	}

	.product-card-description>p {
		font-size: 5px;
	}

	.manufacturer-title>span {
		font-size: 7px;
	}

	.other-regions-list>ul>li {
		font-size: 12px;
	}

	.other-cities-list>ul>li {
		font-size: 12px;
	}

	.other-related-list>ul>li {
		font-size: 12px;

	}

	.container-ad-wrap {
		font-size: 16px;
		letter-spacing: 2px;
	}

	.manufacturer-description>span:nth-child(3):before {
		display: none;
	}

	.calog-title>h1 {
		line-height: 50px !important;
	}

}

@media (max-width:450px) {
	.other-related-list>ul>li {
		font-size: 10px;
	}

	.other-cities-list>ul>li {
		font-size: 10px;
	}

	.other-regions-list>ul>li {
		font-size: 10px;
	}

	.product-card.premium {
		height: auto;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		border: 3px solid #EB5829;
		padding: 10px 0;

	}

	.product-card {
		margin-top: 10px;
		margin-bottom: 10px;
		height: auto;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		padding: 10px 0;
	}

	.product-card-description {
		width: 100%;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		margin: 0;
	}

	.product-card-description>p {
		width: 30%;
		font-size: 10px;
	}

	.product-card-description>span {
		width: 30%;
		font-size: 10px;
	}

	.card-deskription-item>span {
		font-size: 12px;
	}

	.manufacturer-name-wrap {
		width: 100%;
	}

	.manufacturer-description {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
	}

	.manufacturer-title>span {
		font-size: 12px;
		line-height: 36px;
		text-align: center;
	}

	.manufacturer-description>span {
		width: 30%;
		line-height: 35px;
		left: 0;
	}

	.calog-title>h1 {
		font-size: 1.6em !important;
	}


}

@media (max-width:375px) {
	.product-card-description>p {
		font-size: 8px;
	}

	.manufacturer-description {
		width: 100%;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	.other-related-list>ul>li {
		font-size: 8px;
	}

	.container-search-wrap::before {
		left: 85%;
	}
}

@media (min-width: 1024px) {
	.container-ad-wrap {
		width: 700px;
	}

	.calog-title>span {
		max-width: 550px;
	}

	.information-title>span {
		line-height: 65px;
	}
}