@charset "UTF-8";



/*----------------------------------------------*/
#content .content-item img {
  border-radius: 100%;
  width: 130px;
  height: 130px;
}

#content .content-item h1 {
  font-family: RFDewiExpanded;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 155%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  background: linear-gradient(269.96deg, #1A3286 0.05%, #1E83E0 47.93%, #1A3286 99.97%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

#content .content-item p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 155%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-transform: uppercase;
  color: #2E344B;
}

#content .content-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#content .content-item {
  margin: 40px;
  width: 140px;
}

#content .content-item:nth-child(1) {
  width: 400px;
}

body {
  background-color: #F6F6F6;
}

#content .content-head h1 {
  font-family: RFDewiExpanded;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 155%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  background: linear-gradient(269.96deg, #1A3286 0.05%, #1E83E0 47.93%, #1A3286 99.97%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  display: none;
}

@media (max-width: 768px) {
  #content .content-item:nth-child(1) {
    display: none;
  }

  #content .content-head h1 {
    display: inline;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (max-width: 768px) and (max-width: 475px) {
  #content .content-head h1 {
    font-size: 30px;
  }
}

/***********************************************/
#auth {
  position: fixed;
  height: 100vh;
  width: 100%;
  background: rgba(229, 229, 229, 0.5);
  z-index: 2022;
  backdrop-filter: blur(5px);
  display: none;
}

#auth div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

#auth div img {
  width: 80%;
  margin: 100px 0 0 0;
}

#auth div img:nth-child(2) {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 10px;
  left: 60px;
}

#auth div p:nth-child(3) {
  position: absolute;
  color: #2E344B;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.02em;
  line-height: 25px;
  font-family: RFDewiExpanded;
  background: linear-gradient(269.96deg, #1A3286 0.05%, #1E83E0 47.93%, #1A3286 99.97%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  padding: 0 20px 0 0;
}

#auth div input:nth-child(4) {
  position: absolute;
  margin: 100px 0 0 0;
  border: 0;
  border-bottom: 1px solid #2E344B;
  font-family: RFDewiExpanded;
  outline: 0;
  background: transparent;
  font-size: 0.6em;
  padding: 0 0 5px 0;
  color: #2E344B;
}

#auth div input:nth-child(5) {
  position: absolute;
  margin: 150px 0 0 0;
  border: 0;
  border-bottom: 1px solid #2E344B;
  font-family: RFDewiExpanded;
  outline: 0;
  background: transparent;
  font-size: 0.6em;
  padding: 0 0 5px 0;
  color: #2E344B;
}

footer {
  background: #0B3164;
  padding: 70px 0;
  margin: 70px 0 0 0;
}

footer .container {
  width: 90%;
  margin: auto;
}

footer .container div:nth-child(1) .logoText {
  display: flex;
}

footer .container div:nth-child(1) .logoText img {
  width: 90px;
  height: 80px;
}

footer .container div:nth-child(1) .logoText div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 70%;
  padding: 0 0 0 30px;
}

footer .container div:nth-child(1) .logoText div p:nth-child(1) {
  font-family: Montserrat;
  color: #fff;
  font-size: 0.8em;
}

footer .container div:nth-child(1) .logoText div p:nth-child(2) {
  font-family: Montserrat;
  color: #fff;
  font-size: 0.7em;
  line-height: 15px;
}

footer .container div:nth-child(1) .links {
  margin: 40px 0 0 0;
}

footer .container div:nth-child(1) .links ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

footer .container div:nth-child(1) .links ul li {
  margin: 20px 0 0 0;
}

footer .container div:nth-child(1) .links ul li a {
  font-size: 0.9em;
  font-weight: bold;
  color: #fff;
  font-family: Montserrat;
}

footer .container div:nth-child(1) .links>div div a {
  color: #fff;
  text-decoration: underline;
  margin: 20px 0 0 0;
  opacity: 0.5;
}

footer .container div:nth-child(1) .links>div div a:hover {
  transition: 0.4s;
  opacity: 1;
}

footer .container div .links>div {
  margin: 70px 0 0 0;
}

footer .container div .links>div div:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .container div .links>div div:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 70px 0 0 0;
}

@media (min-width: 412px) {
  #auth div .rememberForget {
    margin: 350px 0 0 0;
  }

  footer .container div:nth-child(1) .links ul li a {
    font-size: 1em;
  }
}

@media (min-width: 1024px) {
  footer .container {
    width: 1000px;
  }

  footer .container div {
    display: flex;
    justify-content: space-between;
  }

  footer .container div:nth-child(1) .links {
    margin: 0;
    flex-direction: column;
    width: 600px;
    margin: -10px 0 0 0;
  }

  footer .container div:nth-child(1) .links>div div {
    display: flex;
    flex-direction: column;
  }

  footer .container div:nth-child(1) .links>div div a {
    margin: 15px 0 0 0;
    font-size: 0.8em;
    font-family: Montserrat;
  }

  footer .container div:nth-child(1) .links>div {
    padding: 0 15px 20px 15px;
    justify-content: center;
  }

  footer .container div:nth-child(1) .links ul li a {
    font-size: 0.8em;
  }

  footer .container div:nth-child(1) .logoText {
    width: 400px;
  }

  footer .container div:nth-child(1) .logoText div p:nth-child(1) {
    font-size: 0.8em;
  }

  footer .container div:nth-child(1) .logoText div p:nth-child(2) {
    font-size: 0.7em;
    line-height: 18px;
  }

  footer .container div:nth-child(1) .logoText img {
    width: 130px;
    height: 130px;
  }

  footer .container div:nth-child(1) .logoText div {
    justify-content: space-around;
    padding: 0 0 0 10px;
  }

  footer {
    padding: 50px 0;
  }

  footer .container div .links>div {
    margin: 0;
  }
}


@media (min-width: 1280px) {
  #auth div img:nth-child(2) {
    top: 20px;
    left: 515px;
  }

  #auth div p:nth-child(3) {
    font-size: 2em;
  }

  #auth div input:nth-child(4) {
    width: 22%;
    font-size: 0.9em;
  }

  #auth div input:nth-child(5) {
    width: 22%;
    font-size: 0.9em;
    margin: 180px 0 0 0;
  }

  #auth div button {
    width: 22%;
    margin: 320px 0 0 0;
    font-size: 1em;
  }

  #auth div .rememberForget {
    margin: 450px 0 0 0;
    width: 25%;
    font-size: 1.2em;
  }

  #content .content-item h1 {
    padding: 0 0 0 30px;
  }
}


@media (min-width: 1680px) {
  footer .container {
    width: 1200px;
  }

  footer .container div:nth-child(1) .logoText div p:nth-child(1) {
    font-size: 0.9em;
  }

  footer .container div:nth-child(1) .logoText div p:nth-child(2) {
    font-size: 0.8em;
  }

  footer .container div:nth-child(1) .links {
    width: 700px;
  }

  footer .container div:nth-child(1) .logoText {
    width: 400px;
  }

  footer .container div:nth-child(1) .links>div {
    padding: 0 26px 20px 26px;
  }
}