@charset "UTF-8";

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

/*------------------------------------*/
#contact .contact-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#contact .phone-item h1 {
  font-family: RFDewiExpanded;
  font-style: normal;
  font-weight: 800;
  font-size: 56px;
  line-height: 155%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  background: linear-gradient(269.96deg, #1A3286 0.05%, #1E83E0 47.93%, #1A3286 99.97%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

#contact .phone-item p {
  font-family: RFDewiExpanded;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  color: #2E344B;
  margin: 25px 0 10px 0;
}

#contact .email-item img {
  width: 53px;
  height: 53px;
  margin: 0 5px;
}

#contact .email-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#contact .email-item button {
  background: #EB5829;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 260px;
  height: 70px;
}

#contact .email-item button img {
  width: 18px;
  height: 13px;
}

#contact .email-item button p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 135%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

#contact .email-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#contact .text p {
  font-family: RFDewiExpanded;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  color: #2E344B;
  margin: 30px 0 0 0;
  padding: 10px 0 0 0;
}

@media (max-width: 956px) {
  #contact .contact-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  #contact .phone-item h1 {
    font-size: 40px;
  }

  #contact .email-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  #contact .email-item button {
    background: #EB5829;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 260px;
    height: 70px;
    margin: 30px 0 30px 0;
  }

  #contact .email-item img {
    margin: 20px 5px 0 5px;
  }

  br {
    display: none;
  }

  #contact .text p {
    text-align: center;
  }

  #contact .email-item button img {
    margin-bottom: 20px;
  }

  #contact .phone-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 0 10px 0;
  }

  #contact .phone-row {
    margin: 0 0 50px 0;
  }
}

@media (max-width: 280px) {
  #contact .phone-item h1 {
    font-size: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  #contact .phone-item p {
    font-size: 15px;
  }
}

#wrap {
  min-height: 100vh;
  display: none;
  background: green;
}

#phoneNumber {
  color: #2E344B;
  font-family: 'RFDewiExpanded';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  text-underline-offset: 3px;
}

#here {
  font-weight: bold;
  color: #2E344B;
  text-decoration: underline;
  font-family: 'RFDewiExpanded';
  text-underline-offset: 3px;
}

#here:hover {
  color: #4d5575;
  transition: 0.4s;
}

#contact {
  background: #F6F6F6;
  height: 100vh;
  padding: 100px 0 0 0;
}

#contact .email-item button:hover {
  background: #ff6a38;
  transition: 0.4s;
}

.phone-item img {
  margin: 5px 12px 0 0;
}

@media (min-width: 1024px) {
  #contact .email-item button {
    margin: 0 0 0 50px;
  }
}
#email {
  position: fixed;
  height: 100vh;
  width: 100%;
  background: rgba(229, 229, 229, 0.5);
  z-index: 2022;
  backdrop-filter: blur(5px);
  display: none;
}

#email div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

#email div img {
  width: 80%;
  margin: 100px 0 0 0;
}

#email div img:nth-child(2) {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 14px;
  left: 60px;
}

#email div p:nth-child(3) {
  position: absolute;
  color: #2E344B;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.02em;
  line-height: 25px;
  font-family: RFDewiExpanded;
  background: linear-gradient(269.96deg, #1A3286 0.05%, #1E83E0 47.93%, #1A3286 99.97%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  padding: 0 20px 0 0;
}

#email div input:nth-child(4) {
  position: absolute;
  margin: 60px 0 0 0;
  border: 0;
  border-bottom: 1px solid #2E344B;
  font-family: RFDewiExpanded;
  outline: 0;
  background: transparent;
  font-size: 0.6em;
  padding: 0 0 5px 0;
  color: #2E344B;
}

#email div input:nth-child(5) {
  position: absolute;
  margin: 120px 0 0 0;
  border: 0;
  border-bottom: 1px solid #2E344B;
  font-family: RFDewiExpanded;
  outline: 0;
  background: transparent;
  font-size: 0.6em;
  padding: 0 0 5px 0;
  color: #2E344B;
}

footer {
  padding: 50px 0 50px 0;
  background: #0B3164;
}

footer .container {
  width: 90%;
  margin: auto;
}

footer .container div:nth-child(1) .logoText {
  display: flex;
}

footer .container div:nth-child(1) .logoText img {
  width: 90px;
  height: 80px;
}

footer .container div:nth-child(1) .logoText div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 70%;
  padding: 0 0 0 30px;
}

footer .container div:nth-child(1) .logoText div p:nth-child(1) {
  font-family: Montserrat;
  color: #fff;
  font-size: 0.8em;
}

footer .container div:nth-child(1) .logoText div p:nth-child(2) {
  font-family: Montserrat;
  color: #fff;
  font-size: 0.7em;
  line-height: 15px;
}

footer .container div:nth-child(1) .links {
  margin: 40px 0 0 0;
}

footer .container div:nth-child(1) .links ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

footer .container div:nth-child(1) .links ul li {
  margin: 20px 0 0 0;
}

footer .container div:nth-child(1) .links ul li a {
  font-size: 0.9em;
  font-weight: bold;
  color: #fff;
  font-family: Montserrat;
}

footer .container div:nth-child(1) .links>div div a {
  color: #fff;
  text-decoration: underline;
  margin: 20px 0 0 0;
  opacity: 0.5;
}

footer .container div:nth-child(1) .links>div div a:hover {
  transition: 0.4s;
  opacity: 1;
}

footer .container div .links>div {
  margin: 70px 0 0 0;
}

footer .container div .links>div div:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .container div .links>div div:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 70px 0 0 0;
}

#email div p:nth-child(3) {
  margin: 0 0 0 14px;
}

#email div input:nth-child(6) {
  position: absolute;
  margin: 180px 0 0 0;
  border: 0;
  border-bottom: 1px solid #2E344B;
  font-family: RFDewiExpanded;
  outline: 0;
  background: transparent;
  font-size: 0.6em;
  padding: 0 0 5px 0;
  color: #2E344B;
}

#email div input:nth-child(7) {
  position: absolute;
  margin: 240px 0 0 0;
  border: 0;
  border-bottom: 1px solid #2E344B;
  font-family: RFDewiExpanded;
  outline: 0;
  background: transparent;
  font-size: 0.6em;
  padding: 0 0 5px 0;
  color: #2E344B;
}


@media (min-width: 280px) {
  #email div p:nth-child(3) {
    font-size: 0.65em;
  }

  #email div button {
    width: 155px;
    border: 0;
    background: #EB5829;
    color: #fff;
    height: 30px;
    margin: 320px 0 0 0;
    cursor: pointer;
    font-family: RFDewiExpanded;
    font-size: 0.5em;
    position: absolute;
  }

  #email div button:hover {
    transition: 0.4s;
    background: #f36738;
  }
}


@media (min-width: 360px) {
  #email div p:nth-child(3) {
    font-size: 0.8em;
  }
}


@media (min-width: 375px) {
  #auth div p:nth-child(3) {
    font-size: 1em;
    margin: 0;
  }

  #auth div .rememberForget {
    width: 58%;
  }
}


@media (min-width: 390px) {
  #auth div img:nth-child(2) {
    top: 16px;
    left: 90px;
    width: 100px;
    height: 100px;
  }

  #email div img:nth-child(2) {
    top: 18px;
    left: 90px;
    width: 100px;
    height: 100px;
  }
}


@media (min-width: 412px) {
  #auth div p:nth-child(3) {
    font-size: 1.2em;
  }

  #auth div input:nth-child(4) {
    width: 45%;
  }

  #auth div input:nth-child(5) {
    margin: 160px 0 0 0;
    width: 45%;
  }

  #auth div button {
    margin: 250px 0 0 0;
    height: 40px;
    width: 45%;
  }

  #auth div .rememberForget {
    margin: 350px 0 0 0;
  }

  #email div p:nth-child(3) {
    font-size: 1em;
    margin: 20px 0 0 15px;
  }

  #email div input:nth-child(4) {
    width: 45%;
  }

  #email div input:nth-child(5) {
    margin: 160px 0 0 0;
    width: 45%;
  }

  #email div button {
    margin: 250px 0 0 0;
    height: 40px;
    width: 45%;
  }

  footer .container div:nth-child(1) .links ul li a {
    font-size: 1em;
  }

  #email div p:nth-child(3) {
    margin: -20px 0 0 14px;
  }

  #email div input:nth-child(4) {
    margin: 50px 0 0 0;
  }

  #email div input:nth-child(5) {
    margin: 130px 0 0 0;
  }

  #email div input:nth-child(6) {
    margin: 210px 0 0 0;
    width: 45%;
  }

  #email div input:nth-child(7) {
    margin: 290px 0 0 0;
    width: 45%;
  }

  #email div button {
    margin: 400px 0 0 0;
  }
}


@media (min-width: 540px) {
  #auth div p:nth-child(3) {
    font-size: 1.4em;
    margin: -50px 0 0 0;
  }

  #auth div .rememberForget {
    width: 50%;
  }

  #email div p:nth-child(3) {
    font-size: 1.4em;
    margin: -80px 0 0 15px;
  }

  #email div input:nth-child(4) {
    margin: 30px 0 0 0;
  }

  #email div input:nth-child(5) {
    margin: 120px 0 0 0;
  }

  #email div input:nth-child(6) {
    margin: 210px 0 0 0;
    width: 45%;
  }

  #email div input:nth-child(7) {
    margin: 300px 0 0 0;
    width: 45%;
  }

  #email div button {
    margin: 430px 0 0 0;
    height: 55px;
  }
}


@media (min-width: 768px) {
  #email div img {
    width: 400px;
    height: 450px;
  }

  #email div img:nth-child(2) {
    top: 16px;
    left: 240px;
    width: 120px;
    height: 120px;
  }

  #email div input:nth-child(4) {
    width: 30%;
  }

  #email div input:nth-child(5) {
    width: 30%;
    margin: 170px 0 0 0;
  }

  #email div button {
    width: 30%;
    margin: 300px 0 0 0;
  }

  #email div p:nth-child(3) {
    font-size: 1.1em;
    margin: -50px 0 0 15px;
  }

  #email div input:nth-child(4) {
    margin: 35px 0 0 0;
  }

  #email div input:nth-child(5) {
    margin: 125px 0 0 0;
  }

  #email div input:nth-child(6) {
    margin: 215px 0 0 0;
    width: 30%;
  }

  #email div input:nth-child(7) {
    margin: 305px 0 0 0;
    width: 30%;
  }

  #email div button {
    margin: 430px 0 0 0;
    height: 50px;
  }
}


@media (min-width: 820px) {
  #auth div img:nth-child(2) {
    top: 20px;
    left: 280px;
  }

  #email div img:nth-child(2) {
    top: 20px;
    left: 280px;
  }
}


@media (min-width: 912px) {
  #auth div img:nth-child(2) {
    top: 20px;
    left: 320px;
  }

  #email div img:nth-child(2) {
    top: 20px;
    left: 320px;
  }
}


@media (min-width: 1024px) {
  #email div img {
    width: 450px;
    height: 500px;
    margin: 70px 0 0 0;
  }

  #email div img:nth-child(2) {
    top: 18px;
    left: 350px;
    width: 150px;
    height: 150px;
  }

  #email div input:nth-child(4) {
    width: 22%;
    font-size: 0.9em;
  }

  #email div input:nth-child(5) {
    width: 22%;
    font-size: 0.9em;
    margin: 180px 0 0 0;
  }

  #email div button {
    width: 22%;
    margin: 320px 0 0 0;
    height: 60px;
  }

  footer .container {
    width: 1000px;
  }

  footer .container div {
    display: flex;
    justify-content: space-between;
  }

  footer .container div:nth-child(1) .links {
    margin: 0;
    flex-direction: column;
    width: 600px;
    margin: -10px 0 0 0;
  }

  footer .container div:nth-child(1) .links>div div {
    display: flex;
    flex-direction: column;
  }

  footer .container div:nth-child(1) .links>div div a {
    margin: 15px 0 0 0;
    font-size: 0.9em;
  }

  footer .container div:nth-child(1) .links>div {
    padding: 0 15px 20px 15px;
    justify-content: center;
  }

  footer .container div:nth-child(1) .links ul li a {
    font-size: 0.8em;
  }

  footer .container div:nth-child(1) .logoText {
    width: 400px;
  }

  footer .container div:nth-child(1) .logoText div p:nth-child(1) {
    font-size: 0.8em;
  }

  footer .container div:nth-child(1) .logoText div p:nth-child(2) {
    font-size: 0.7em;
    line-height: 18px;
  }

  footer .container div:nth-child(1) .logoText img {
    width: 130px;
    height: 130px;
  }

  footer .container div:nth-child(1) .logoText div {
    justify-content: space-around;
    padding: 0 0 0 10px;
  }

  footer .container div .links>div {
    margin: 0;
  }

  #email div p:nth-child(3) {
    font-size: 1.1em;
    margin: -50px 0 0 15px;
  }

  #email div input:nth-child(4) {
    margin: 35px 0 0 0;
    width: 30%;
  }

  #email div input:nth-child(5) {
    margin: 125px 0 0 0;
    width: 30%;
  }

  #email div input:nth-child(6) {
    margin: 215px 0 0 0;
    width: 30%;
    font-size: 0.9em;
  }

  #email div input:nth-child(7) {
    margin: 305px 0 0 0;
    width: 30%;
    font-size: 0.9em;
  }

  #email div button {
    margin: 430px 0 0 0;
    height: 50px;
  }
}


@media (min-width: 1280px) {
  #auth div img:nth-child(2) {
    top: 20px;
    left: 515px;
  }

  #auth div p:nth-child(3) {
    font-size: 2em;
  }

  #auth div input:nth-child(4) {
    width: 22%;
    font-size: 0.9em;
  }

  #auth div input:nth-child(5) {
    width: 22%;
    font-size: 0.9em;
    margin: 180px 0 0 0;
  }

  #auth div button {
    width: 22%;
    margin: 320px 0 0 0;
    font-size: 1em;
  }

  #auth div .rememberForget {
    margin: 450px 0 0 0;
    width: 25%;
    font-size: 1.2em;
  }

  #email div img:nth-child(2) {
    left: 515px;
  }

  #email div p:nth-child(3) {
    font-size: 1.3em;
    margin: 0 0 0 15px;
  }

  #email div input:nth-child(4) {
    width: 22%;
    font-size: 0.9em;
  }

  #email div input:nth-child(5) {
    width: 22%;
    font-size: 0.9em;
    margin: 180px 0 0 0;
  }

  #email div button {
    width: 22%;
    margin: 320px 0 0 0;
    font-size: 1em;
  }

  #email div p:nth-child(3) {
    font-size: 1.2em;
    margin: -50px 0 0 15px;
  }

  #email div input:nth-child(4) {
    margin: 35px 0 0 0;
    width: 20%;
  }

  #email div input:nth-child(5) {
    margin: 125px 0 0 0;
    width: 20%;
  }

  #email div input:nth-child(6) {
    margin: 215px 0 0 0;
    width: 20%;
  }

  #email div input:nth-child(7) {
    margin: 305px 0 0 0;
    width: 20%;
  }

  #email div button {
    margin: 430px 0 0 0;
    height: 50px;
  }
}


@media (min-width: 1680px) {
  #email div img {
    width: 600px;
    height: 680px;
    margin: 130px 0 0 0;
  }

  #email div img:nth-child(2) {
    top: 24px;
    left: 795px;
    width: 200px;
    height: 200px;
  }

  #email div input:nth-child(5) {
    margin: 220px 0 0 0;
  }

  #email div button {
    margin: 380px 0 0 0;
    height: 80px;
  }

  footer .container {
    width: 1200px;
  }

  footer .container div:nth-child(1) .logoText div p:nth-child(1) {
    font-size: 0.9em;
  }

  footer .container div:nth-child(1) .logoText div p:nth-child(2) {
    font-size: 0.8em;
  }

  footer .container div:nth-child(1) .links {
    width: 700px;
  }

  footer .container div:nth-child(1) .logoText {
    width: 400px;
  }

  footer .container div:nth-child(1) .links>div {
    padding: 0 26px 20px 26px;
  }

  #email div p:nth-child(3) {
    font-size: 1.7em;
    margin: -50px 0 0 15px;
  }

  #email div input:nth-child(4) {
    margin: 50px 0 0 0;
    width: 20%;
    font-size: 1.3em;
  }

  #email div input:nth-child(5) {
    margin: 175px 0 0 0;
    width: 20%;
    font-size: 1.3em;
  }

  #email div input:nth-child(6) {
    margin: 295px 0 0 0;
    width: 20%;
    font-size: 1.3em;
  }

  #email div input:nth-child(7) {
    margin: 425px 0 0 0;
    width: 20%;
    font-size: 1.3em;
  }

  #email div button {
    margin: 600px 0 0 0;
    height: 60px;
  }
}


@media (min-width: 280px) {
  #auth div img:nth-child(2) {
    height: auto;
    transform: rotate(12deg);
    top: 18px;
  }
}

@media (min-width: 412px) {
  #auth div img:nth-child(2) {
    top: 25px;
  }
}

@media (min-width: 540px) {
  #auth div img:nth-child(2) {
    top: 32px;
    left: 130px;
    width: 110px;
  }
}

@media (min-width: 768px) {
  #auth div img:nth-child(2) {
    top: 28px;
    left: 240px;
  }
}

@media (min-width: 820px) {
  #auth div img:nth-child(2) {
    left: 260px;
  }
}

@media (min-width: 912px) {
  #auth div img:nth-child(2) {
    top: 24px;
    left: 290px;
  }
}

@media (min-width: 1024px) {
  #auth div img:nth-child(2) {
    top: 26px;
    left: 320px;
    width: 140px;
  }
}

@media (min-width: 1280px) {
  #auth div img:nth-child(2) {
    top: 28px;
    left: 450px;
  }
}

@media (min-width: 1366px) {
  #auth div img:nth-child(2) {
    top: 28px;
    left: 500px;
  }
}

@media (min-width: 1440px) {
  #auth div img:nth-child(2) {
    top: 32px;
    left: 550px;
  }
}

@media (min-width: 1536px) {
  #auth div img:nth-child(2) {
    top: 30px;
    left: 580px;
  }
}

@media (min-width: 1600px) {
  #auth div img:nth-child(2) {
    left: 620px;
  }
}

@media (min-width: 1920px) {
  #auth div img:nth-child(2) {
    top: 36px;
    left: 760px;
    width: 180px;
  }
}