.footer {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 21.7px;
    margin-top: 20px;
}

.footer p,
.footer a {
    font-family: 'Montserrat', sans-serif !important;
}

.footer a {
    text-decoration: none;
    color: inherit;
}

.footer ul {
    list-style: none;
}

.footer .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.footer {
    background-color: #0B3164;
}

.footer .footer__inner {
    padding: 45px 0;
    display: flex;
}

.footer .footer__logo {
    display: flex;
    justify-content: space-between;
    padding-right: 100px;
}

.footer .footer__logo-link {
    margin-right: 40px;
}

.footer .footer__logo-text p {
    width: 210px;
}

.footer .footer__img {
    width: 130px;
    height: 130px;
}
.footer__logo-text {
    font-size: 12px;
}

.footer__logo-link-one {
    font-size: 15px;
    line-height: 18.6px;
    display: inline-block;
    margin-bottom: 15px;
}

.footer__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer__nav {
    padding-bottom: 30px;
}

.footer__menu {
    display: flex;
    text-align: center;
}

.footer__menu-list {
    font-weight: 700;
    text-transform: uppercase;
}

.footer__menu-list+.footer__menu-list {
    margin-left: 50px;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__rights {
    max-width: 240px;
    margin-right: 175px;
}

.footer__rights-text {
    text-decoration: underline;
    opacity: 0.5;
    display: inline-block;
}

.footer__rights-text+.footer__rights-text {
    margin-top: 10px;
}


@media (max-width:1200px) {
    .footer__rights {
        margin-right: 80px;
    }

    .footer__menu-list+.footer__menu-list {
        margin-left: 26px;
    }

}

@media (max-width:1100px) {
    .footer__inner {
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer__logo {
        margin-bottom: 60px;
        padding-right: 0;

    }

    .footer__info {
        width: 100%;
    }

    .footer__nav {
        padding-bottom: 60px;
    }
}

@media (max-width: 650px) {
    .footer .footer__menu {
        width: 300px;
        height: 100px;
        flex-wrap: wrap;
        justify-content: space-between;
        column-gap: 20px;
    }

    .footer__menu-list+.footer__menu-list {
        margin-left: 0;
    }

    .footer .footer__bottom {
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer .footer__rights {
        margin-right: 0;
    }
}

@media (max-width:550px) {
    .footer .footer__rights {
        margin-bottom: 65px;
    }
}