@font-face {
    font-family: Montserrat;
    font-display: swap;
    src: url("../assets/fonts/Montserrat-Light.otf");
  }
@font-face {
    font-family: RFDewiExpanded;
    font-display: swap;
    src: url("../assets/fonts/RFDewiExpanded-Regular"), url("../assets/fonts/RFDewiExpanded-Regular.ttf"), url("../assets/fonts/RFDewiExpanded-Regular.woff");
}


#auth {
    position: fixed;
    height: 100vh;
    width: 100%;
    background: rgba(229, 229, 229, 0.5);
    z-index: 2022;
    backdrop-filter: blur(5px);
    display: none;
}
#auth div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
#auth div img {
    width: 80%;
    margin: 100px 0 0 0;
}
#auth div img:nth-child(2) {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 10px;
    left: 60px;
}
#auth div p:nth-child(3) {
    position: absolute;
    color: #2E344B;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.02em;
    line-height: 25px;
    font-family: RFDewiExpanded;
    background: linear-gradient(269.96deg, #1A3286 0.05%, #1E83E0 47.93%, #1A3286 99.97%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    padding: 0 20px 0 0;
}
#auth div input:nth-child(4) {
    position: absolute;
    margin: 100px 0 0 0;
    border: 0;
    border-bottom: 1px solid #2E344B;
    font-family: RFDewiExpanded;
    outline: 0;
    background: transparent;
    font-size: 0.6em;
    padding: 0 0 5px 0;
    color: #2E344B;
}
#auth div input:nth-child(5) {
    position: absolute;
    margin: 150px 0 0 0;
    border: 0;
    border-bottom: 1px solid #2E344B;
    font-family: RFDewiExpanded;
    outline: 0;
    background: transparent;
    font-size: 0.6em;
    padding: 0 0 5px 0;
    color: #2E344B;
}
#auth div p:nth-child(3) {
  font-size: 0.7em;
  margin: 40px 0 0 0;
}
#auth div button {
  width: 155px;
  border: 0;
  background: #EB5829;
  color: #fff;
  height: 30px;
  margin: 220px 0 0 0;
  cursor: pointer;
  font-family: RFDewiExpanded;
  font-size: 0.5em;
  position: absolute;
}
#auth div button:hover {
  transition: 0.4s;
  background: #f36738;
}
#auth div .rememberForget {
  position: absolute;
  margin: 300px 0 0 0;
  flex-direction: row;
  font-size: 0.8em;
  justify-content: space-between;
  width: 65%;
}
#auth div .rememberForget div {
  flex-direction: row;
  align-items: center;
  padding: 5px 0 0 0;
  cursor: pointer;
}
#auth div .rememberForget div input {
  width: 14px;
  height: 14px;
}
#auth div .rememberForget div label {
  padding: 3px 0 0 5px;
  color: #2E344B;
  font-family: RFDewiExpanded;
  font-size: 0.7em;
  cursor: pointer;
}
#auth div .rememberForget a {
  padding: 7px 0 0 0;
  text-decoration: underline;
  text-underline-offset: 1px;
  color: #2E344B;
  font-family: RFDewiExpanded;
  font-size: 0.7em;
}
header {
    height: 240px;
    border-bottom: 1px solid #E4E4E4;
  }
  header .container {
    margin: auto;
    height: 100%;
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  header .logoText {
    display: flex;
    align-items: center;
  }
  header .logoText img {
    width: 43.67px;
    height: 43.67px;
  }
  header .logoText p {
    width: 116.24px;
    line-height: 12.38px;
    color: #2E344B;
    margin: 0 0 0 15px;
    font-family: Montserrat;
    font-size: 0.57em;
  }
  header .logoWrapBars {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }
  header .btnWrap {
    display: flex;
  }
  header .btnWrap button {
    border: 0;
    height: 66px;
    cursor: pointer;
    font-size: 0.58em;
    height: 41.25px;
    font-family: Montserrat;
    width: 100%;
  }
  header .btnWrap button:nth-child(1) {
    background: #1D5DB5;
    color: #fff;
  }
  header .btnWrap button:nth-child(1):hover {
    transition: 0.4s;
    background: #236cd3;
  }
  header .btnWrap button:nth-child(2) {
    border: 1px solid #1D5DB5;
    color: #1D5DB5;
    background: #fff;
  }
  header .btnWrap button:nth-child(2):hover {
    transition: 0.4s;
    background: rgb(241, 241, 241);
  }
  header .barsWrap .bar1, header .barsWrap .bar2, header .barsWrap .bar3  {
    width: 35px;
    height: 1px;
    background-color: #000;
    margin: 7px 0;
    transition: 0.4s;
  }
  nav {
    position: absolute;
    top: 100px;
    width: 100%;
    background: #fff;
    display: none;
    padding: 0 0 60px 0;
    z-index: 999;
  }
  nav .container ul li ul {
    position: static;
  }
  nav .container {
    width: 90%;
    margin: auto;
    min-height: 100%;
  }
  nav .container ul li a {
    min-height: 100%;
    display: flex;
    align-items: center;
    color: #2E344B;
    font-family: RFDewiExpanded;
    font-size: 0.9em;
    padding: 0;
    text-align: left;
  }
  nav .container ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }
  nav .container ul li {
    margin: 40px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  nav .container ul li:nth-child(5) .analiticsSubMenu li a {
    font-size: 0.75em;
    font-family: Montserrat;
    font-style: italic;
    color: #fff;
  }
  nav .container ul li div {
    display: flex;
  }
  nav .container ul li div div {
    margin: 0 0 0 30px;
    border: 1px solid #1A3286;
    padding: 6px 4px 3px 4px;
    font-size: 0.9em;
  }
  nav .container ul li:nth-child(5) .analiticsSubMenu {
    background-color: #1D5DB5;
    padding: 10px 30px 40px 30px;
    margin: 20px 0 0 0;
    display: none;
  }
  #articles {
    margin: 90px 0 0 0;
}
#articles .container {
    width: 90%;
    margin: auto;
}
#articles .container div:nth-child(1) h3 {
    color: #2E344B;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.02em;
    line-height: 25px;
    font-family: RFDewiExpanded;
    background: linear-gradient(269.96deg, #1A3286 0.05%, #1E83E0 47.93%, #1A3286 99.97%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    padding: 0 20px 0 0;
}
#articles .container > div:nth-child(1) {
    display: flex;
}
#articles .container div div {
    display: flex;
    width: 100%;
    align-items: center;
}
#articles .container div:nth-child(1) div hr {
    width: 100%;
}
#articles .container div:nth-child(1) div img {
    width: 30px;
    height: 30px;
}
#articles .content {
    padding: 10px 0 0 0;
}
#articles .content .card {
    width: 100%;
    height: 500px;
    border: 1px solid #CCCCCC;
    margin: 50px 0 0 0;
    background: #FCFCFC;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#articles .content .card > div {    
    flex-direction: column;
}
#articles .content .card > div > img {
    min-width: 100px;
    min-height: 100px;
}
#articles .content .card > div div {
    display: flex;
    flex-direction: column;
    margin: 40px 0 0 0;
}
#articles .content .card > div div p:nth-child(1) {
    text-align: center;
    font-family: Montserrat;
    font-weight: bold;
    line-height: 25px;
    color: #2E344B;
    font-size: 1.2em;
}
#articles .content .card > div div p:nth-child(2) {
    margin: 20px 0 0 0;
    font-family: Montserrat;
    color: #2E344B;
    font-size: 0.9em;
}
#articles .content .card > div div p:nth-child(2) span {
    font-family: Montserrat;
    color: #2E344B;
    margin: 0 0 0 10px;
}
#articles .content .card > div div img {
    max-width: 15px;
    max-height: 15px;
}
#articles .card .text {
    color: #2E344B;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
}
#articles .buttonWrap {
    margin: 70px auto;
    width: 100%;
    display: flex;
    justify-content: center;
}
#articles .buttonWrap button {
    width: 250px;
    height: 70px;
    border: 0;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
    background: transparent;
    color: #B3B3B3;
    font-style: italic;
    font-family: Montserrat;
    cursor: pointer;
}
footer {
    background: #0B3164;
    padding: 70px 0;
    margin: 70px 0 0 0;
}
footer .container {
    width: 90%;
    margin: auto;
}
footer .container div:nth-child(1) .logoText {
    display: flex;
}
footer .container div:nth-child(1) .logoText img {
    width: 90px;
    height: 80px;
}
footer .container div:nth-child(1) .logoText div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 70%;
    padding: 0 0 0 30px;
}
footer .container div:nth-child(1) .logoText div p:nth-child(1) {
    font-family: Montserrat;
    color: #fff;
    font-size: 0.8em;
}
footer .container div:nth-child(1) .logoText div p:nth-child(2) {
    font-family: Montserrat;
    color: #fff;
    font-size: 0.7em;
    line-height: 15px;
}
footer .container div:nth-child(1) .links {
    margin: 40px 0 0 0;
}
footer .container div:nth-child(1) .links ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
footer .container div:nth-child(1) .links ul li {
    margin: 20px 0 0 0;
}
footer .container div:nth-child(1) .links ul li a {
    font-size: 0.9em;
    font-weight: bold;
    color: #fff;
    font-family: Montserrat;
}
footer .container div:nth-child(1) .links > div div a {
    color: #fff;
    text-decoration: underline;
    margin: 20px 0 0 0;
    opacity: 0.5;
}
footer .container div:nth-child(1) .links > div div a:hover {
    transition: 0.4s;
    opacity: 1;
}
footer .container div .links > div {
    margin: 70px 0 0 0;
}
footer .container div .links > div div:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer .container div .links > div div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 70px 0 0 0;
}


@media (min-width: 280px) {
    header .btnWrap button:nth-child(1) {
        width: 100px;
    }
    header .btnWrap button:nth-child(2) {
        width: 150px;
    }
    #introduction h1 {
		font-size: 1em;
		font-weight: bold;
	}
    #articles .container div:nth-child(1) h3 {
        font-size: 1em;
    }
  }


  @media (min-width: 360px) {
    header .btnWrap button:nth-child(1) {
        width: 128.12px;
    }
    header .btnWrap button:nth-child(2) {
        width: 171.88px;
    }
    #introduction h1 {
		font-size: 1.5em;
	}
    #articles .container div:nth-child(1) h3 {
        font-size: 1.37em;
    }
  }


  @media (min-width: 375px) {
    #auth div p:nth-child(3) {
        font-size: 1em;
        margin: 0;
    }
    #auth div .rememberForget {
        width: 58%;
    }   
  }


  @media (min-width: 390px) {
    #auth div img:nth-child(2) {
        top: 16px;
        left: 90px;
        width: 100px;
        height: 100px;
    }
  }


  @media (min-width: 412px) {
    #auth div p:nth-child(3) {
      font-size: 1.2em;
  }
  #auth div input:nth-child(4) {
      width: 45%;
  }
  #auth div input:nth-child(5) {
      margin: 160px 0 0 0;
      width: 45%;
  }
  #auth div button {
      margin: 250px 0 0 0;
      height: 40px;
      width: 45%;
  }
  #auth div .rememberForget {
      margin: 350px 0 0 0;
  }
  footer .container div:nth-child(1) .links ul li a {
    font-size: 1em;
}
  }


  @media (min-width: 540px) {
    #auth div p:nth-child(3) {
        font-size: 1.4em;
        margin: -50px 0 0 0;
    }
    #auth div .rememberForget {
        width: 50%;
    }
    #introduction h1 {
		font-size: 1.9em;
	}
  }


  @media (min-width: 768px) {
    #auth div img {
        width: 400px;
        height: 450px;
    }
    #auth div img:nth-child(2) {
        top: 18px;
        left: 240px;
        width: 120px;
        height: 120px;
    }
    #auth div input:nth-child(4) {
        width: 30%;
    }
    #auth div input:nth-child(5) {
        width: 30%;
        margin: 170px 0 0 0;
    }
    #auth div button {
        width: 30%;
        margin: 300px 0 0 0;
    }
    #auth div .rememberForget {
        margin: 420px 0 0 0;
        width: 33%;
    }
  }


  @media (min-width: 820px) {
    #auth div img:nth-child(2) {
        top: 20px;
        left: 280px;
    }
  }

  
  @media (min-width: 912px) {
    #auth div img:nth-child(2) {
        top: 20px;
        left: 320px;
    }
  }


  @media (min-width: 1024px) {
    #auth div img {
        width: 450px;
        height: 500px;
        margin: 70px 0 0 0;
    }
    #auth div img:nth-child(2) {
        top: 20px;
        left: 350px;
        width: 150px;
        height: 150px;
    }
    #auth div p:nth-child(3) {
        font-size: 1.8em;
    }
    #auth div input:nth-child(4) {
        width: 22%;
        font-size: 0.9em;
    }
    #auth div input:nth-child(5) {
        width: 22%;
        font-size: 0.9em;
        margin: 180px 0 0 0;
    }
    #auth div button {
        width: 22%;
        margin: 320px 0 0 0;
        height: 60px;
    }
    #auth div .rememberForget {
        margin: 450px 0 0 0;
        width: 24%;
        font-size: 1em;
    }
    #auth div .rememberForget div input {
        width: 20px;
        height: 20px;
    }
    header {
        height: 170px;
    }
    header .barsWrap {
        display: none;
    }
    header .container {
        width: 1000px;
        flex-direction: row;
    }
    header .logoWrapBars { 
        display: block;
    }
    header .logoText img {
        width: 85.7px;
        height: 85.7px;
    }
    header .logoText p { 
        font-size: 0.9em;
        width: 180px;
        line-height: 24.3px;
        margin: 0 0 0 40px;
    }
    header .btnWrap button {
        font-size: 0.8em;
        height: 50px;
    }
    header .btnWrap button:nth-child(1) {
        width: 155px;
    }
    header .btnWrap button:nth-child(2) {
        width: 225px;
    }
    nav {
        height: 70px;
        position: static;
        padding: 0;
        display: block;
    }
    nav .container {
        width: 1000px;
        height: 100%;
    }
    nav .container ul {
        justify-content: space-between;
        flex-direction: row;
    }
    nav .container ul li {
        position: relative;
        margin: 0;
        height: 100%;
        display: block;
    }
    nav .container ul li a:not(nav .container ul li:nth-child(5) .analiticsSubMenu li a) {
      display: flex;
      position: relative;
  }
    nav .container ul li a:after {    
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 3px;
        left: 50%;
        position: absolute;
        background: #1D5DB5;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
    }
    nav .container ul li a:hover:after { 
        width: 100%; 
        left: 0; 
    }
    nav .container ul li div {
        height: 100%;
      }
      nav .container ul li div div {
        display: none;
      }
      nav .container ul li:nth-child(5) .analiticsSubMenu {
        position: absolute;
        left: 0;
        top: 65px;
        flex-direction: column;
        height: auto;
        margin: 5px 0 0 0;
        width: 190px;
        padding: 10px 20px 20px 20px;
      }
      nav .container ul li:nth-child(5):hover  .analiticsSubMenu {
        display: block;
      }
      nav .container ul li:nth-child(5) .analiticsSubMenu li {
        margin: 10px 0 0 0;
        padding: 5px 0;
      }
      nav .container ul li:nth-child(5) .analiticsSubMenu li a:hover {
        color: orange;
        font-weight: bold;
        padding: 0 0 0 5px;
        transition: 0.2s;
      }
      nav .container ul li:nth-child(5) .analiticsSubMenu li a::after {
        height: 0;
      }
      #introduction .container h1 {
		font-size: 2.1em;
        width: 450px;
		line-height: 80px;
		margin: 120px 0px 0 50px;
        padding: 80px 0 0 0;
	  }
	  #introduction .container div:nth-child(1) {
		justify-content: flex-start;
	  }
	  #introduction .container div:nth-child(1) div:nth-child(2) .img {
		width: 450px;
		height: 550px;
		margin: 215px 0 -150px 0;
	  }
      #introduction .container {
        padding: 0;
      }
      #articles {
        margin: 110px 0 0 0;
    }
    #articles .container div:nth-child(1) h3 {
        font-size: 1.8em;
    }
    #articles .container div:nth-child(1) div img {
        width: 40px;
        height: 40px;
    }
    #articles .container {
        width: 1000px;
    }
    #articles .content .card {
        height: 200px;
        margin: 60px 0 0 0;
        flex-direction: row;
        padding: 30px 60px;
        border: 0;
    }
    #articles .content .card > div {    
        flex-direction: row;
    }
    #articles .content .card > div div p:nth-child(1) {
        font-size: 1em;
        width: 200px;
        text-align: left;
    }
    #articles .content .card > div div {
        margin: -5px 50px 0 0;
    }
    #articles .content .card > div div p:nth-child(2) {
        margin: 10px 5px 0 0;
        font-size: 0.75em;
    }
    #articles .container div div:not(.buttonWrap) {
        justify-content: flex-end;
    }
    #articles .card .text {
        text-align: left;
        width: 350px;
    }
    footer .container {
        width: 1000px;
    }
    footer .container div {
        display: flex;
        justify-content: space-between;
    }
    footer .container div:nth-child(1) .links {
        margin: 0;
        flex-direction: column;
        width: 600px;
        margin: -10px 0 0 0;
    }
    footer .container div:nth-child(1) .links > div div {
        display: flex;
        flex-direction: column;
    }
    footer .container div:nth-child(1) .links > div div a {
        margin: 15px 0 0 0;
        font-size: 0.8em;
    }
    footer .container div:nth-child(1) .links > div {
       padding: 0 15px 20px 15px;
       justify-content: center;
    }
    footer .container div:nth-child(1) .links ul li a {
        font-size: 0.8em;
    }
    footer .container div:nth-child(1) .logoText {
        width: 400px;
    }
    footer .container div:nth-child(1) .logoText div p:nth-child(1) {
        font-size: 0.8em;
    }
    footer .container div:nth-child(1) .logoText div p:nth-child(2) {
        font-size: 0.7em;
        line-height: 18px;
    }
    footer .container div:nth-child(1) .logoText img {
        width: 130px;
        height: 130px;
    }
    footer .container div:nth-child(1) .logoText div {
        justify-content: space-around;
        padding: 0 0 0 10px;
    }
    footer {
        padding: 50px 0;
    }
    footer .container div .links > div {
        margin: 0;
    }
  }


  @media (min-width: 1280px) {
    #introduction .container div:nth-child(1) div:nth-child(2) .img {
		width: 550px;
		height: 550px;
        margin: 150px 0 0 0;
	  }
    #auth div img:nth-child(2) {
        top: 20px;
        left: 515px;
    }
    #auth div p:nth-child(3) {
        font-size: 2em;
    }
    #auth div input:nth-child(4) {
        width: 22%;
        font-size: 0.9em;
    }
    #auth div input:nth-child(5) {
        width: 22%;
        font-size: 0.9em;
        margin: 180px 0 0 0;
    }
    #auth div button {
        width: 22%;
        margin: 320px 0 0 0;
        font-size: 1em;
    }
    #auth div .rememberForget {
        margin: 450px 0 0 0;
        width: 25%;
        font-size: 1.2em;
    }
    #introduction .container h1 {
		font-size: 2.4em;
        width: 450px;
		line-height: 80px;
		margin: 100px 70px 0 0px;
        padding: 80px 0 0 0;
	  }
  }


  @media (min-width: 1680px) {
    #auth div img {
        width: 600px;
        height: 680px;
        margin: 130px 0 0 0;
    }
    #auth div img:nth-child(2) {
        top: 28px;
        left: 795px;
        width: 200px;
        height: 200px;
    }
    #auth div input:nth-child(5) {
        margin: 220px 0 0 0;
    }
    #auth div button {
        margin: 380px 0 0 0;
        height: 80px;
    }
    #auth div .rememberForget {
        margin: 580px 0 0 0;
        width: 24%;
    }
    header .container {
        width: 1200px;
    }
    header .btnWrap button {
        font-size: 0.93em;
        height: 66px;
    }
    header .btnWrap button:nth-child(1) {
        width: 205px;
    }
    header .btnWrap button:nth-child(2) {
        width: 275px;
    }
    header .logoText p { 
        font-size: 1.125em;
        width: 230px;
    }
    nav .container {
        width: 1200px;
    }
    #introduction .container div:nth-child(1) div:nth-child(2) .img {
		margin: 134px 0 0px 0;
		width: 650px;
		height: 600px;
	}
    #introduction .container h1 {
		font-size: 3em;
        width: 550px;
        margin: 130px 100px 0 0;
	  }
      #articles .container {
        width: 1200px;
    }
    footer .container {
        width: 1200px;
    }
    footer .container div:nth-child(1) .logoText div p:nth-child(1) {
        font-size: 0.9em;
    }
    footer .container div:nth-child(1) .logoText div p:nth-child(2) {
        font-size: 0.8em;
    }
    footer .container div:nth-child(1) .links {
        width: 700px;
    }
    footer .container div:nth-child(1) .logoText {
        width: 400px;
    }
    footer .container div:nth-child(1) .links > div {
        padding: 0 26px 20px 26px;
    }
  }

  #information {
    margin: 150px 0 0 0;
  }
  .information-head-txt1 {
    font-family: RFDewiExpanded;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    background: linear-gradient(269.96deg, #1A3286 0.05%, #1E83E0 47.93%, #1A3286 99.97%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-align: center;
  }
  
  @media (max-width: 1366px) and (max-width: 1024px) {
    .information-head-txt1 {
      font-size: 45px;
    }
  }
  @media (max-width: 1366px) and (max-width: 1024px) and (max-width: 768px) {
    .information-head-txt1 {
      font-size: 35px;
    }
  }
  @media (max-width: 1366px) and (max-width: 1024px) and (max-width: 768px) and (max-width: 425px) {
    .information-head-txt1 {
      font-size: 25px;
    }
  }
  @media (max-width: 1366px) and (max-width: 1024px) and (max-width: 768px) and (max-width: 425px) and (max-width: 375px) {
    .information-head-txt1 {
      font-size: 25px;
    }
  }
  .information-card-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 70px 0 100px 0;
  }
  
  @media (max-width: 1024px) {
    .information-card-row {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
  }
  @media (max-width: 1024px) and (max-width: 768px) and (max-width: 425px) and (max-width: 375px) {
    .information-card-row {
      font-size: 13px;
    }
  }
  .information-card-item {
    border: 1px solid #e4e4e4;
    width: 234px;
    height: 191px;
  }
  
  .information-card-item:nth-child(2) {
    background: linear-gradient(to top, rgba(29, 93, 181, 0.7), rgba(29, 93, 181, 0.7)), url('../assets/img/main4.png') no-repeat center/cover;
  }
  .information-card-row .information-card-item:nth-child(2) .information-card-text {
    color: #fff;
  }
  .information-card-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 135%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 30px 0 0 30px;
    color: #2E344B;
  }
  
  .information-card-row .information-card-item:nth-child(2) .information-card-text {
    color: #fff;
  }
  .information-card-text span {
    font-weight: bold;
  }
  .information-card-image {
    width: 25px;
    height: 25px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 30px 0 0 30px;
  }


  @media (min-width: 280px) {
    #auth div img:nth-child(2) {
        height: auto;
        transform: rotate(12deg);
        top: 18px;
    }
}

@media (min-width: 412px) {
    #auth div img:nth-child(2) {
        top: 25px;
    }
}

@media (min-width: 540px) {
    #auth div img:nth-child(2) {
        top: 32px;
        left: 130px;
        width: 110px;
    }
}

@media (min-width: 768px) {
    #auth div img:nth-child(2) {
        top: 28px;
        left: 240px;
    }
}

@media (min-width: 820px) {
    #auth div img:nth-child(2) {
        left: 260px;
    }
}

@media (min-width: 912px) {
    #auth div img:nth-child(2) {
        top: 24px;
        left: 290px;
    }
}

@media (min-width: 1024px) {
    #auth div img:nth-child(2) {
        top: 26px;
        left: 320px;
        width: 140px;
    }
}

@media (min-width: 1280px) {
    #auth div img:nth-child(2) {
        top: 28px;
        left: 450px;
    }
}

@media (min-width: 1366px) {
    #auth div img:nth-child(2) {
        top: 28px;
        left: 500px;
    }
}

@media (min-width: 1440px) {
    #auth div img:nth-child(2) {
        top: 32px;
        left: 550px;
    }
}

@media (min-width: 1536px) {
    #auth div img:nth-child(2) {
        top: 30px;
        left: 580px;
    }
}

@media (min-width: 1600px) {
    #auth div img:nth-child(2) {
        left: 620px;
    }
}

@media (min-width: 1920px) {
    #auth div img:nth-child(2) {
        top: 36px;
        left: 760px;
        width: 180px;
    }
}